{% extends 'base.html' %}

{% block content %}
  <h1>Buy a Product</h1>
  <form method="post">
  {% csrf_token %}
  <label for="description">Product:</label>
  <select name="description">
    {% for product in products %}
      <option value="{{ product.description }}">{{ product.description }}</option>
    {% endfor %}
  </select><br>
  <label for="quantity">Quantity:</label>
  <input type="number" name="quantity" min="1" required><br>
  <label for="destination_x">Destination X:</label>
  <input type="number" name="destination_x" required><br>
  <label for="destination_y">Destination Y:</label>
  <input type="number" name="destination_y" required><br>
  <button type="submit" name="add_to_cart">Add to Cart</button>
  <button type="submit" name="buy">Buy</button>
  </form>

  {% if error_message %}
    <p>{{ error_message }}</p>
  {% endif %}
  <form method="get" action="{% url 'cart' %}">
    {% csrf_token %}
    <button type="submit">View Cart</button>
  </form>
  <form method="get" action="{% url 'home' %}">
    <button type="submit">Back to home</button>
  </form>
  <button onclick="javascript:history.go(-1)">Back to previous page</button>
  {% if products %}
        <h2>All products</h2>
        <ul>
        {% for product in products %}
            <li>Product: {{ product.description }} Quantity: {{ product.count }}</li>
        {% empty %}
            <li>No products found.</li>
        {% endfor %}
        </ul>
    {% else %}
        <p>Product is empty.</p>
    {% endif %}

  {% if warehouses %}
      <h2>All warehouses</h2>
      <ul>
      {% for warehouse in warehouses %}
          <li>Location X: {{ warehouse.location_x }} Location Y: {{ warehouse.location_y }}</li>
      {% empty %}
          <li>No warehouses found.</li>
      {% endfor %}
      </ul>
  {% else %}
      <p>Warehouse is empty.</p>
  {% endif %}
{% endblock %}