{% extends 'base.html' %}

{% block title %}Status{% endblock %}

{% block content %}
  <h1>Order status</h1>

  {% if package %}
  <table>
    <thead>
      <tr>
        <th>Order id</th>
        <th>Product</th>
        <th>Quantity</th>
        <th>Warehouse</th>
        <th>Order id</th>
        <th>Package id</th>
        <th>Quantity</th>
        <th>Warehouse</th>
      </tr>
    </thead>
    <tbody>
      {% for item in items %}
        <tr>
          <td>{{ item.description }}</td>
          <td>{{ item.quantity }}</td>
          <td>{{ item.destination_x }}</td>
          <td>{{ item.destination_y }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}