{% extends 'base.html' %}

{% block title %}Search Result{% endblock %}

{% block content %}
    <h1>Search Results</h1>
    <form method="GET" action="{% url 'search_result' %}">
        <input type="text" name="search_input" placeholder="Search..." required>
        <button type="submit">Search</button>
    </form>
    <hr>
    {% if products %}
        <h2>Results for "{{ query }}"</h2>
        <ul>
        {% for product in products %}
            <li>{{ product.description }} - {{ product.count }}</li>
        {% empty %}
            <li>No products found.</li>
        {% endfor %}
        </ul>
        <h1>Buy a Product</h1>
        <form method="post" action="{% url 'buy' %}">
        {% csrf_token %}
        <label for="description">Product:</label>
        <select name="description">
          {% for product in products %}
            <option value="{{ product.description }}">{{ product.description }}</option>
          {% endfor %}
        </select><br>
        <label for="quantity">Quantity:</label>
        <input type="number" name="quantity" min="1" required><br>
        <label for="destination_x">Destination X:</label>
        <input type="number" name="destination_x" required><br>
        <label for="destination_y">Destination Y:</label>
        <input type="number" name="destination_y" required><br>
        <button type="submit" name="add_to_cart">Add to Cart</button>
        <button type="submit" name="buy">Buy</button>
        </form>
    
    {% else %}
        <p>Please enter the correct product name.</p>
    {% endif %}
    <form method="get" action="{% url 'cart' %}">
        {% csrf_token %}
        <button type="submit">View Cart</button>
    </form>
    <form method="get" action="{% url 'buy' %}">
        <button type="submit">Back to buy</button>
    </form>
    <form method="get" action="{% url 'home' %}">
        <button type="submit">Back to home</button>
    </form>
{% endblock %}